127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6
{{nginx_host | default('') }} {{serverName | default('') }}
{{portal_host}} PORTAL
{{bid_host}} BID
{{sso_host}} SSO
{{utr_host}} UTR UTRJ FLOW GZQ CMS
{{redis_host}} BID_CACHE
{{uc_host}} UC
{{oracle_host}} DB
